# Local Anvil blockchain
ANVIL_RPC_URL=http://127.0.0.1:8545
ANVIL_CHAIN_ID=31337

# Account 0 private key printed by Anvil.
# Local development only. Never use it on a public blockchain.
ANVIL_DEPLOYER_PRIVATE_KEY=

# Pinata authentication
PINATA_JWT=

# Gateway required by the assignment
IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs
